@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
$color-gray-light: rgb(243, 243, 243);
$color-gray-dark: rgb(192, 192, 192);
$color-yellow: rgb(228, 170, 44);

*{
    font-family: 'Roboto', sans-serif;

}


.hero-image{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    background-image: linear-gradient(to right, rgba(105, 105, 105, 0), rgba(124, 124, 124, 0)), url('./images/hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20%;
}

.nav-container{
    background-color: transparent;
    width: 100%;
}

.brand-title{
    font-family: 'Oooh Baby', cursive;
}

.card{
    border-radius: 0px;
}

.history-container{
    margin: 20vh auto;
}

.review-card{
    border: 1px solid $color-gray-dark;
    margin: 1vw;
    padding: 2rem;
    span{
        width: 100%;
    }

    h5{
        font-weight: 800;
    }

    .star{
        color: $color-yellow;
    }
}

.review-section{
    margin: 20vh auto;

    h1{
        font-family: 'Oooh Baby', cursive;
    }
}

@media only screen and (min-width: 1800px) {
    .card {
      min-width: 20vw;
    }
  }

