@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
$color-gray-light: rgb(243, 243, 243);
$color-gray-dark: rgb(192, 192, 192);
$color-yellow: rgb(228, 170, 44);

$margin-y-large: 8rem auto;
$margin-y-small: 4rem auto;

*{
    font-family: 'Roboto', sans-serif;

}

html, body{
    overflow-x: hidden;
}

body{
    position: relative;
}
input.form-control{
    border-radius: 0px;

    &:focus{
        border-color: gray;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px gray;
    }
}

.btn.btn-secondary{
    border-radius: 0px;
}

.hero-image{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    background-image: linear-gradient(to right, rgba(105, 105, 105, 0), rgba(124, 124, 124, 0)), url('./images/hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20%;
}

.nav-container{
    background-color: transparent;
    width: 100%;
}

.brand-title{
    font-family: 'Oooh Baby', 'Roboto', sans-serif;
}

.card{
    border-radius: 0px;
    width: 20rem;
}

.history-container{
    margin: $margin-y-large;

    h3{
        font-size: clamp(14px, 2vw, 36px);
    }
}

.review-card{
    border: 1px solid $color-gray-dark;
    // margin: 1vw;
    padding: 2rem;
    min-width: 15rem;
    span{
        width: 100%;
    }

    h5{
        font-weight: 800;
    }

    .star{
        color: $color-yellow;
    }
}

.review-section{
    margin: $margin-y-large;

    h1{
        font-family: 'Oooh Baby', cursive;
    }
}

.review-cards >* {
    margin: 1vw;
    &:first-child{
        margin: 1vw 1vw 1vw 0;
    }

    &:last-child{
        margin: 1vw 0 1vw 1vw;
    }
}



.card-appliance{
    border: none;
    width: 18rem;
    .card-body{

        .card-title{
            font-size: 16px;
            font-weight: 800;
            color: rgb(14, 66, 66);
            border-bottom: 1px solid $color-gray-dark;
            padding-bottom: 20px;
        }

        .card-text{
            font-size: 12px;
        }
    }
}

.featured-product-hero-image{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.featured-product-section-container{
    margin: $margin-y-large;
}

.mobile-brand{
    font-size: 100%;
}

// @media only screen and (min-width: 1800px) {
//     .card {
//       min-width: 20vw;
//     }
// }

@media only screen and (min-width: 770px){
    .disappear-on-large{
        display: none;
    }


}

@media only screen and (max-width: 770px){
 
    .disappear-on-small{
        display: none;
    }

    .small-device-margins{
        margin: $margin-y-small;
    }

    .hero-image{
        background-image: linear-gradient(to right, rgba(105, 105, 105, 0), rgba(124, 124, 124, 0)), url('./images/home-hero-mobile.jpg');
        height: 60vh;
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 992px){
    .review-cards >* {
        margin: 1vw;
        &:first-child{
            margin: 1vw 1vw 1vw 1vw;
        }
    
        &:last-child{
            margin: 1vw 1vw 1vw 1vw;
        }
    }
}
